.rows {
    flex: 100%;
    background-color: #ffffff;
    padding: 40px;
    height: auto;
    padding-bottom: 20px;
    border-radius: 12px;
    border: 1px solid #e1e4e8;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
}

.row {
    display: flex;
}

.content-block {
    flex: 33%;
    padding: 12px;
    text-align: center;
}
