.rows {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 20px;
    height: auto;
    padding-bottom: 20px;
    border-radius: 12px;
    border: 1px solid #e1e4e8;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    max-width: 1850px;
}

.content-block {
    flex: 25%;
    padding: 6px;
    text-align: center;
    flex-wrap: wrap;
}

.service-picture img {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 335px;
}

@media (max-width: 768px) {
    .content-block {
        flex: 100%;
        padding: 4px;
        padding-bottom: 10px;
    }
    .rows {
        padding: 8px;
        flex-wrap: wrap;
    }
    .service-picture img {
        max-width: 300px;
    }
}