@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .side, .main {
    flex: 100%;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 20px 40px;
  text-align: center;
}

body {
  flex: 1;
  background: #f4f6f8;
  font-family: 'Inter', sans-serif;
  line-height: 1.3;
  color: #333333
}

.navbar {
  padding: 0 20px
}

.navbar a {
  color: #555;
  font-weight: 600;
  margin-right: 10px;
  border-bottom: 3px solid transparent;
}

.navbar a:hover {
  background-color: transparent;
  color: black;
  border-bottom: 3px solid black;
}

footer {
  padding: 20px;
  text-align: center;
  flex-shrink: 0;
}

.container {
  display: flex;
  gap: 32px;
  padding: 32px 40px;
  max-width: 1850px;
  margin: 0 auto;
}

.side {
  flex: 25%;
  background-color: #ffffff;
  border-radius: 12px;
 border: 1px solid #e1e4e8;
 box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
  padding: 32px;
  min-width: 280px;
}

.main {
  flex: 75%;
  background-color: #ffffff;
  padding: 40px;
  min-width: 0;
  height: auto;
  padding-bottom: 20px;
  border-radius: 12px;
  border: 1px solid #e1e4e8;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
}

.fuel-container {
  display: flex;
  flex-wrap: wrap;
}

.petrol-box, .diesel-box, .availability-box, .tariff-box {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  flex: 45%;
  margin: 10px;
  font-size: larger;
}

.maps-ev-container {
  display: flex;
  flex-wrap: wrap;
}

.map-container {
  width: 100%;
  flex: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.ev-container {
  flex: 50%;
  padding: 10px;
}

.social-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.icon-box {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: left;
  justify-content: left;
  padding: 10px;
}

.icon-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.filling-station-picture img {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.map-container iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  display: block;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
