/* additional pages styling */

.policy {
  padding: 1.5rem;
  height: auto;
  padding-bottom: 1.25rem;
  margin: 0 auto;
  max-width: 1600px;
  height: auto;
}

.section {
  display: flex;
}

.updates {
  font-style: italic;
}

.policy-title {
  font-weight: 700;
  font-size: 2rem;
  text-decoration: underline;
}

.policy-section-header {
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: underline;
}

code {
  background-color: rgb(238, 238, 238);
  font-size: 1.25rem;
}
