footer {
  text-align: left;
  font-size: 1.25rem;
  margin: 0 auto;
  background-color: #2b2320;
  color: #f0e9d8;
  width: 100%;
  flex-shrink: 0;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer h3 {
  text-decoration: underline;
}

footer a {
  color: #f0e9d8;
}

footer a:hover {
  text-decoration: underline;
}

address {
  font-style: normal;
}

.footer-top {
  display: grid;
  grid-template-columns: 1fr 0.75fr 0.75fr;
  padding: 20px;
  margin: 0 auto;
  max-width: 1600px;
  justify-content: space-between;
}

.footer-bottom {
  text-align: center;
  padding: 16px;
}

.social-icons {
  display: flex;
  align-items: left;
  justify-content: left;
}

.icon-box {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: left;
  justify-content: left;
  padding: 10px;
}

.icon-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.footer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

hr.footer {
  color: #f0e9d8;
}

@media (max-width: 768px) {
  .footer-top {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-top-block {
    flex: 100%;
  }
  .footer-top-block-sub {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-top-block-sub-sub {
    flex: auto;
  }
}
