.header-container {
  position: sticky;
  position: -webkit-sticky;
  background-color: #2f4a3c;
  margin: 0;
  padding: 2px 0 0 12px;
  top: -1px;
  z-index: 9999;
}

header {
  display: flex;
  padding: 0 20px;
  font-size: larger;
  color: #f0e9d8;
  text-align: left;
  margin: 0 auto;
  max-width: 1600px;
}

.navbar {
  margin: auto auto;
  font-size: larger;
}

.navbar a {
  color: #f0e9d8;
  font-weight: 600;
  margin-right: 10px;
  text-decoration: none;
}

a.home {
  text-decoration: underline;
}

.navbar a:hover {
  font-weight: 700;
  text-decoration: underline;
}
