header {
  display: flex;
  padding: 20px 40px;
  font-size: larger;
  color: rgb(117, 117, 70);
  text-align: left;
  max-width: 1600px;
  margin: 0 auto;
}

.navbar {
  margin: auto auto;
  font-size: larger;
}

.navbar a {
  color: rgb(117, 117, 70);
  font-weight: 600;
  margin-right: 10px;
}

a.home {
  border-bottom: 2px solid grey;
}

.navbar a:hover {
  background-color: transparent;
  color: black;
}
