.about-super-container {
  text-align: left;
  margin: 0 auto;
  max-width: 1600px;
  font-size: large;
  padding: 10px;
}
.about-container {
  display: flex;
}

.information-container {
  flex: 50%;
}
