.rows {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.intro-text {
  padding-bottom: 1rem;
}

.content-block {
  flex: 25%;
  text-align: center;
  display: grid;
}

.service-picture img {
  max-width: 335px;
  border-radius: 8px;
  border: 2px solid #2b2320;
}

@media (max-width: 768px) {
  .content-block {
    flex: 100%;
    padding: 1rem 0.5rem 1rem 0.5rem;
  }
  .rows {
    flex-wrap: wrap;
  }
  .service-picture img {
    max-width: 300px;
  }
}
