.rows {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  overflow: hidden;
}

.image-gallery-container {
  border-radius: 12px;
  padding: 1rem 0 1rem;
  user-select: none;
}

.image-gallery {
  overflow-x: scroll;
  display: flex;
  gap: 3rem;
  user-select: inherit;
  scroll-behavior: auto;
}

.image-gallery img {
  width: 330px;
  object-fit: cover;
  object-position: 100% center;
  border-radius: 12px;
  border: 2px solid #2b2320;
}

@media (max-width: 768px) {
  .service-picture img {
    max-width: 300px;
  }
  .content-block {
    padding: 1rem;
  }
  .image-gallery {
    gap: 2rem;
  }
}
