@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v20-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v20-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v20-latin-700.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f0e9d8;
  font-size: 16px;
  flex: 1;
  font-family: "Inter";
  line-height: 1.3;
  color: #2b2320;
}

body a {
  color: #5c7a8a;
  text-decoration: none;
}

body a:hover {
  text-decoration: underline;
}

.hero-image {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
    url("../Craigellachie.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 50vh;
}

.hero-image-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f0e9d8;
  font-size: larger;
  padding: 10px;
}

hr {
  width: 55vw;
  color: #2b2320;
}

@media (max-width: 768px) {
  .main {
    padding: 8px;
  }
  .data-box {
    padding: 4px;
    margin: 10px;
  }
}
