.visit-us-super-container {
  text-align: left;
  padding: 24px;
  font-size: large;
  margin: 0 auto;
  max-width: 1600px;
  font-size: larger;
  text-align: left;
}

.map-container {
  width: 100%;
  padding: 24px;
  height: auto;
  padding-bottom: 20px;
  border-radius: 12px;
}

.map-text {
  text-align: center;
  font-size: medium;
}

.map-container #map {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
